@import 'variables';

.SingleDatePicker {
  position: relative;
  display: inline-block;
}

.SingleDatePicker__picker {
  z-index: $react-dates-z-index + 1;
  background-color: $react-dates-color-white;
  position: absolute;
  top: $react-dates-spacing-vertical-picker;
}

.SingleDatePicker__picker--rtl {
  direction: rtl;
}

.SingleDatePicker__picker--direction-left {
  left: 0;
}

.SingleDatePicker__picker--direction-right {
  right: 0;
}

.SingleDatePicker__picker--portal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.SingleDatePicker__picker--full-screen-portal {
  background-color: $react-dates-color-white;
}

.SingleDatePicker__close {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  z-index: $react-dates-z-index + 2;

  svg {
    height: 15px;
    width: 15px;
    fill: $react-dates-color-gray-lighter;
  }

  &:hover,
  &:focus {
    color: darken(#cacccd, 10%);
    text-decoration: none;
  }
}

.TimeListItem {
  width: 83px;
  height: 24px;
  margin-bottom: 14px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
  color: #323232;
  list-style: none;

  &--hovered {
    cursor: pointer;
    text-decoration: none;
    background-color: #e4e7e7;
    border-radius: 3px;
  }

  &--selected {
    cursor: pointer;
    text-decoration: none;
    background-color: $react-dates-color-primary;
    font-weight: 500;
    color: #ffffff;
    border-radius: 3px;
  }
}


.SingleDatePickerFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 455px;
  height: 59px;
  padding: 20px;
  font-family: Roboto;
  font-size: 16px;
  text-align: center;
  color: #323232;
}

.CalendarDay__selectButton {
  border: none;
  box-shadow: none;
  outline: none;
  width: 106px;
  height: 35px;
  border-radius: 3px;
  background-color: #fd8b28;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}